<div class="comment">
  <p><strong><%= comment.user.email %>:</strong></p>
  <p><%= comment.content %></p>
  <%= link_to 'Edit', edit_post_comment_path(comment.post, comment) if can?(:update, comment) %>
  <%= link_to 'Delete', post_comment_path(comment.post, comment), method: :delete %>
</div>
