<h1 class="ui header">Comments</h1>

<div class="ui comments">
  <% @comments.each do |comment| %>
    <div class="comment">
      <div class="text">
        <%= comment.content %>
      </div>
    </div>
  <% end %>
</div>
