<% if @comments.any? %>
  <% @comments.each do |comment| %>
    <div class="ui segment">
      <p>
        <%= comment.content %>
        <br>
        Commented by: <%= comment.user.email %>
      </p>
      <div class="ui buttons">
       <% if comment.reported? %>
            <%= button_to 'Unreport', post_comment_path(comment.post, comment), method: :delete, params: { unreport: true }, class: "ui button" %>
          <% else %>
            <%= button_to 'Report', report_comment_path(post_id: comment.post, id: comment), method: :post, class: "ui button" %>
          <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>There are no reported comments.</p>
<% end %>
