<h1>Pending Approval</h1>
<ul>
<% if @pending_posts.empty? %>
  <p>No post under review</p>
<% else %>
    <% @pending_posts.each do |post| %>
      <li><%= post.title %> - <%= post.status %>
      </li>
    <% end %>
  </ul>
<% end %>
