<h1 class="ui header">Pending Approval</h1>

<% if @pending_posts.empty? %>
  <p class="ui message">No post under review</p>
<% else %>
  <div class="ui divided list">
    <% @pending_posts.each do |post| %>
      <div class="item">
        <div class="content">
          <%= post.title %> - <%= post.status %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
