<h1 class="ui header">Reported Posts</h1>

<% if @reported_posts.any? %>
  <div class="ui divided list">
    <% @reported_posts.each do |post| %>
      <div class="item">
        <div class="content">
          <%= post.title %>
          <div class="right floated content">
            <%= link_to 'Remove Report', unreport_post_path(post), method: :patch, class: 'ui tiny button' %>
            <%= link_to 'Unpublish', unpublish_post_path(post), method: :patch, class: 'ui tiny red button' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="ui message">There are currently no reported posts.</p>
<% end %>
