<h1>Reported Posts</h1>

<% if @reported_posts.any? %>
  <ul>
    <% @reported_posts.each do |post| %>
      <li>
        <%= post.title %>
        <%= button_to 'Remove Report', unreport_post_path(post), method: :patch %>
        <%= button_to 'Unpublish', unpublish_post_path(post), method: :patch %>

      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no reported posts.</p>
<% end %>
