<h1 class="ui header">Edit Suggestion</h1>
<%= render 'form', post: @post, suggestion: @suggestion %>
<%= button_to "Reject this Suggestion", post_suggestion_path(@post, @suggestion), method: :patch, params: { reject: true }, class: "ui button" %>
<%= link_to 'Back', @post, class: "ui button" %>
