<h1 class="ui header">Edit Suggestion</h1>
<%= render 'form', post: @post, suggestion: @suggestion %>
<%= button_to 'Reject Suggestion', reject_post_suggestion_path(@post, @suggestion), method: :patch, class: "ui button" %>
<%= link_to 'Back', @post, class: "ui button" %>
