<h1>Edit Suggestion</h1>
<%= render 'form', post: @post, suggestion: @suggestion %>
<%= button_to 'Reject Suggestion', reject_post_suggestion_path(@post, @suggestion), method: :patch %>
<%= link_to 'Back', @post %>
