<h1 class="ui header">Moderator Dashboard</h1>

<div class="ui divided list">
  <% @posts.each do |post| %>
    <div class="item">
      <i class="folder icon"></i>
      <div class="content">
        <a class="header"><%= post.title %></a>
        <div class="description">
          <%= button_to "Approve", approve_moderator_path(post), method: :patch, class: "ui mini positive button" %>
          <%= button_to "Reject", reject_moderator_path(post), method: :patch, class: "ui mini negative button" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
